/* The sidebar menu */
.sidenav {
    height: 22.5em; /* Full-height: remove this if you want "auto" height */
    width: 190px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(255, 255, 255, 0); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    border-right: 3px solid #143C72;
    border-bottom: 3px solid #143C72;
    border-bottom-right-radius: 25%;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 8px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Source Code Pro', sans-serif;
    color: black;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    font-style: italic;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
}

h1 {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 40px;
    text-align: center;
    color: #143C72;
    padding-top: 1.85em;
    padding-bottom: 1em;
}

br {
  line-height: 100px;
}

p {

  font-family: 'Source Code Pro', sans-serif;
  font-size: 25px;
}

.home, .about, .services, .contact {
  min-height:100vh;
  max-height:1000px;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

section {
  padding-top: 60em;
  margin: 0px;
  background-color: #ffffff;
}

.home, .sel:nth-child(2) { background:rgb(255, 255, 255) ; }
.about, .sel:nth-child(3) { background:rgb(255, 255, 255); }
.services, .sel:nth-child(4) { background:rgb(255, 255, 255); }
.contact, .sel:nth-child(5) { background:rgb(255, 255, 255) ; }

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: #143C72;
}

a:active {
  color: black;
}

.logo {
  width: 12em;
  border-bottom-right-radius: 25%;
}

.footer {
  font-family: 'Source Code Pro', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: #143C72;
  text-align: center;
}